/* @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");


/* @font-face {
	font-family: "Harry Potter";
	src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot");
	src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot?#iefix")
			format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff2")
			format("woff2"),
		url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff")
			format("woff"),
		url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.ttf")
			format("truetype"),
		url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.svg#Harry Potter")
			format("svg");
} */

@font-face {
	font-family: "Harry Potter";
	src: url("./Fonts/harry_p/HARRYP__.TTF") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700&display=swap");

*,
*:before,
*:after,
*:hover {
	box-sizing: border-box;
	margin: 0;
}

html {
	box-sizing: border-box;
	background-color: rgb(55, 46, 41);
}

body {
	margin: 0;
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	font-family: "Poppins", sans-serif;
	text-align: center;
}

h1 {
	margin-top: 1.5rem;
	text-align: center;
	/* font-family: "Harry Potter"; */
	font-size: 30px;

	color: white;
}

h2 {
	font-size: 1.5rem;
}

h2.game-infos {
	display: flex;
	flex-direction: column;
}

div#game-page h2 {
	color: white;
}

p {
	font-size: 0.9rem;
	text-align: center;
}

button {
	padding: 0.5rem;

	font-family: "Poppins", sans-serif;
	text-align: center;
	cursor: pointer;
}

/* LANDING PAGE */
div#landing-page {
	display: none;
}

#game-rules-section {
	margin: 9% 10% 5% 10%;
	padding: 2% 2% 4% 2%;
	border-radius: 7px;
	background-color: whitesmoke;
}

#go-to-game-cta {
	border: 2px solid rgb(236, 185, 57);
	border-radius: 5px;
}

/* GAME PAGE */
div#game-page {
	display: block;
}

/* SCORE & TIMER CSS */
#timer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 2% 0;

	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	text-align: center;
	color: white;
}

/* START GAME BTN */
#start-game {
	margin-bottom: 1.5rem;
}

/* GAMEBOARD CSS */
#board {
	background-color: white;
	width: 90vw;
	height: 38rem;

	/* border: 4px solid rgb(236, 185, 57); */
	border-radius: 25px;

	display: flex;

	margin: auto;
}

#gridboard {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 42em;
	/* width: 67vw;*/
	row-gap: 2%;
	column-gap: 5%;

	background-color: grey;

	margin: auto;
}

/* HOLE CSS */
.hole {
	background-color: white;

	border: 0.4px solid lightsteelblue;
	aspect-ratio: 1;
	overflow: hidden;
}

.hole > img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	top: 38%;
}

/* PERSONA CSS */
.voldemort {
	background-color: black;
}

#dobby {
	background-color: blue;
}

/* RESULT MODALS */

button#showDialog {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button#restartBtn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

dialog#container-dialog-result {
	margin: auto;
	/* width: 300px; */
	/* padding: 20px; */

	border: 1px solid #ccc;
	border-radius: 5px;
}

#winMessage {
	display: none;
}

#looseMessage {
	display: none;
}

/* TO DELETE IF NOT NEEDED */
/* .container-modal {
}

#win-modal-content {
	display: block;
	z-index: 1;
	margin: 0 auto;
	position: fixed;
}

#loose-modal-content {
	display: block;
	z-index: 1;
	margin: 0 auto;
	position: fixed;
} */
